name: Generate Activity Graphs

on:
  schedule:
    - cron: "0 */12 * * *" # Runs every 12 hours
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate Snake
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/snake.svg
            dist/snake-dark.svg?palette=github-dark

      - name: Generate Pacman
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: ${{ github.repository_owner }}

      - name: Ensure files in dist
        run: |
          mkdir -p dist
          # Move pacman files to dist if they are in the root
          if [ -f "pacman-contribution-graph.svg" ]; then
            mv pacman-contribution-graph.svg dist/
          fi
          if [ -f "pacman-contribution-graph-dark.svg" ]; then
             mv pacman-contribution-graph-dark.svg dist/
          fi
      
      - name: Push to Output Branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
